<!DOCTYPE HTML>
<html>
<head>
    <title>RestTemplate Demo</title>
    <meta charset="utf-8" />
    <script    src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
    <script    src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/sha256.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $( document ).ready( function( ) {
            var message = "Led Zeppelin- Stairway to Heaven";
            var passphrase = "1234";
            var encrypt = CryptoJS.AES.encrypt(message, passphrase);
            var decrypted = CryptoJS.AES.decrypt(encrypt, passphrase);

            // 암호화 이전의 문자열은 toString 함수를 사용하여 추출할 수 있다.
            var text = decrypted.toString(CryptoJS.enc.Utf8);
            alert(encrypt);
        });
    </script>

</head>
<body>
<h1>New</h1>

</body>
</html>